@tailwind base;
@tailwind components;
@tailwind utilities;

.pending {
    color: purple;
}

#books-table .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 16em;
    display: inline-block;
}
