<style>
    #books-table .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 16em;
        display: inline-block;
    }
</style>
<table class="table table-sm" id="books-table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">书名</th>
        <th scope="col">作者</th>
        <th scope="col">状态</th>
        <th scope="col">操作人</th>
        <th scope="col">上次变更</th>
        <th scope="col">ISBN</th>
        <th scope="col">出版商</th>
        <th scope="col">入库时间</th>
        <th scope="col">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <th scope="row">{{book.id}}</th>
        <td><span class="ellipsis">{{book.title}}</span></td>
        <td>{{book.authors|join(", ")}}</td>
        <td>{{book.state}}</td>
        <td>{{book.operator}}</td>
        <td>{{book.operate_at|date_fmt("[year]/[month]/[day]")}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.import_at|date_fmt("[year]/[month]/[day]")}}</td>
        <td>
            <button type="button" class="btn danger btn-sm"
                    hx-delete="/book/{{book.id}}" hx-target="#books-table"
            >删除</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
